{% extends "global/base.html" %}

{% block content %}

    <a href="{% url "criar_categoria" client_slug %}" class="button add_client"> Adicionar categoria
    </a>

    {% include "modals/categoria_listar.html" %}

    <h1>Dashboards</h1>

    <a href="{% url "criar_dashboard" client_slug %}" class="button add_client"> Adicionar Dashboards
    </a>
    
    {% if dashboards %}
        {% for dashboard in dashboards %}
            <div class="card">
                {% with first_image=dashboard.dashboard_images.first %}
                    <div class="header"> <img src="{{ first_image.images.url }}" alt="">  </div>
                {% endwith %}
                <div class="info">
                <p class="title">{{ dashboard.title  }}</p>
                <p>{{ dashboard.get_status_display }}</p>
                </div>
                <div class="footer">
                <p class="tag">Categoria:  {{ dashboard.category}}</p>
                <p class="tag">Criado em: {{ dashboard.created_at|date:"d/m/Y" }}</p>
                <p class="tag">Atualizado em: {{ dashboard.updated_at|date:"d/m/Y, H:i"}} </p>
                <a href="{% url "detalhes_dashboard" dashboard.slug %}" class="action">Ver dashboard </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>Este cliente não tem dashboards</p>
    {% endif %}

{% endblock content %}